@model PaginatedList<To_Do.Models.ListItem>

@{
    ViewData["Title"] = "List";
}

<p>
    <a asp-action="Create">Add New Item</a>
</p>
<div class="card card-body">
    <form asp-action="Index">
        <div class="form-actions no-color">
            <p>
                Find by text: <input name="SearchString" value="@ViewData["Filter"]" />
                <input type="submit" value="Search" class="btn btn-primary" /> | <a asp-action="Index">Clear</a>
            </p>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sort="@ViewData["TextSort"]" asp-route-textFilter="@ViewData["Filter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Text)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="@ViewData["CompletedSort"]" asp-route-textFilter="@ViewData["Filter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Completed)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="Index"
    asp-route-sort="@ViewData["Sort"]"
    asp-route-pageNumber="@(Model.PageNumber - 1)"
    asp-route-filter="@ViewData["Filter"]"
    class="btn btn-default @(!Model.HasPreviousPage ? "disabled" : "")">
    Previous
</a>
<a asp-action="Index"
    asp-route-sort="@ViewData["Sort"]"
    asp-route-pageNumber="@(Model.PageNumber + 1)"
    asp-route-filter="@ViewData["Filter"]"
    class="btn btn-default @(!Model.HasNextPage ? "disabled" : "")">
    Next
</a>