@model IEnumerable<To_Do.Models.ListItem>

@{
    ViewData["Title"] = "List";
}

<p>
    <a asp-action="Create">Add New Item</a>
</p>

<form asp-action="Index">
    <div class="form-actions no-color">
        <p>
            Find by text: <input name="TextFilter" value="@ViewData["TextFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> | <a asp-action="Index">Clear</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TextSort"]" asp-route-textFilter="@ViewData["TextFilter"]">@Html.DisplayNameFor(model => model.Text)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CompletedSort"]" asp-route-textFilter="@ViewData["TextFilter"]">@Html.DisplayNameFor(model => model.Completed)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
